@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #fefefebc;
    font-family: "Roboto", sans-serif;
}

.dragField {
    height: 100vh;
    width: 350px;
    margin: 0 auto;
}

.wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.wrapper .box {
    width: 350px;
    height: 350px;
    position: relative;
    border: dotted rgba(0, 0, 0, 0.6) 2px;
}

.box .border-radius {
    background-image: linear-gradient(-225deg, #fff 0%, 
        #3112a309 60%, 
        #a200ff0a 40%, #411bec83 100%),
        linear-gradient(45deg, #7159c1 40%, #8c20becb 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
}

.box .topLeft,
.box .topRight,
.box .bottomLeft,
.box .bottomRight {
    position: absolute;
}

.box .topLeft::before,
.box .topRight::before,
.box .bottomLeft::before,
.box .bottomRight::before {
    content: "";
    position: absolute;
    top: -9px;
    left: -9px;
    width: 1rem;
    height: 1rem;
    background: #ffffffde;
    border: 1px solid #000022d0;
}

.box .topLeft {
    top: 0;
    left: 0;
}

.box .topRight {
    top: 0;
    right: 0;
}

.box .bottomLeft {
    bottom: 0;
    left: 0;
}

.box .bottomRight {
    bottom: 0;
    right: 0;
}

section.changeSize {
    position: absolute;
    bottom: 2%;
    left: 50%;
    height: 32px;
    transform: translateX(-50%);
}

section.changeSize label {
    margin-right: 8px;
    color: rgba(133, 133, 133, 0.6);
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

section.changeSize input {
    background-color: #9b85e4;
    padding: 8px;
    width: 80px;
    margin-right: 16px;
    color: #e7e7e7;
    font-size: 16px;
    outline-color: rebeccapurple;
    font-family: "Roboto", sans-serif;
}

section.changeSize input::-webkit-inner-spin-button,
section.changeSize input::-webkit-outer-spin-button {
    height: 25px;
    width: 25px;
}

section.borderRadiusValues {
    position: absolute;
    bottom: 10%;
    left: 50%;
    box-sizing: content-box;
    display: flex;
    flex: 1;
    width: 42%;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 32px;
    transform: translateX(-50%);
}

section.borderRadiusValues h3 {
    color: rebeccapurple;
    width: -webkit-fill-available;
}

section.borderRadiusValues span {
    background: #efb22b;
    font-size: 1.2rem;
    color: #480b0b;
    font-weight: 500;
    padding: 8px;
    height: 2em;
    min-width: 350px;
    border-radius: 4px 0 0 4px;
}

section.borderRadiusValues button {
    width: 50%;
    height: 2em;
    padding: 8px 16px;
    background: #f3a802;
    border-radius: 0 4px 4px 0px;
    color: #fffeff;
    font-size: 19px;
    text-transform: uppercase;
    transition: .3s;
}

section.borderRadiusValues button:hover {
    background-color: #7159c1;
}