<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="border.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Border Radius Viewer</title>
</head>
<body>
    <section class="dragField">
        <div class="wrapper">
            <div class="box">
                <div class="border-radius">

                </div>

                <span class="topLeft"></span>
                <span class="topRight"></span>
                <span class="bottomLeft"></span>
                <span class="bottomRight"></span>
            </div>
        </div>
    </section>

    <section class="borderRadiusValues">
        <h3>Border Radius: </h3>
        <span type="text">0% 0% 0% 0% / 0% 0% 0% 0%</span>
        <button>Copy</button>
    </section>

    <section class="changeSize">
        <label for="width">Width:</label>
        <input type="number" id="width" min="50" max="2000" value="310">
        <label for="height">Height:</label>
        <input type="number" id="height" min="50" max="2000" value="310">
    </section>

    <script src="/index.js"></script>
    <script src="/limitHeightAndWidth.js"></script>
    <script src="/adjustSizes.js"></script>
</body>
</html>