<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Border Radius Viewer</title>
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="border-radius">

            </div>

            <span class="topLeft"></span>
            <span class="topRight"></span>
            <span class="bottomLeft"></span>
            <span class="bottomRight"></span>
            
        </div>
    </div>
</body>
</html>